/synelprof/profiles_df_flx
/synelprof/plots
/synelprof/.ipynb_checkpoints
/synelprof/analisi_profili_appliances.ipynb
/synelprof/appliances_profiles.json
annual_results.csv
Figure_1.pdf
Figure_1.png
Schema_flussi.pptx
/.idea/
Data/.idea/
/__pycache__/
/old/
ts_results.csv
/venv/
nest_synelprof.egg-info/
/synelprof/profiles_df/*.png