/Data/profiles_df_flx
/Data/plots
/Data/.ipynb_checkpoints
/Data/analisi_profili_appliances.ipynb
/Data/appliances_profiles.json
annual_results.csv
Figure_1.pdf
Figure_1.png
Schema_flussi.pptx
/.idea/
Data/.idea/
/__pycache__/
/old/
ts_results.csv
/venv/